body, html {
  margin: auto;
  width: 80%;
}

.text-center {
  text-align: center;
}

form {
  width: 300px;
  margin: auto;
  display: flex;
  justify-self: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #eeeeee;
  border-radius: 5px;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
}

input[type="text"], textarea, button {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  border-radius: 5px;
  background-color: rgb(112, 190, 193);
  color: black;
}