body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 100vw;
  margin: auto;
  background-color: #f1f1f1;
}

.content {
  display: flex;
  gap: 20px;
}

.container {
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.updates-feed, .todo {
  background: #fafafa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-inline: auto;
}

.updates-feed {
  text-align: center;
  width: 60%;
}

.updates-feed h2 {
  color: #333;
}

.updates-feed .email {
  text-align: justify;
}

.updates-feed iframe {
  max-width: 100%;
  margin-block: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: none;
}

.todo {
  width: 40%;
  height: fit-content;
  text-align: left;
}

.todo ul {
  padding-left: 30px;
}

.strike {
  text-decoration: line-through;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}